<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
<h2>숫자 배열 조작과 구구단 출력</h2>
<div id="app">
    <ul>
        <li v-for="(item, index) in number_list">{{ item }}
            <button v-on:click="modify(index)">변경</button>
            <button v-on:click="delete(index)">삭제</button>
        </li>
        <br/>
        <button v-on:click="addNumber()">추가</button>
        <button v-on:click="sortData()">소트</button>
        <button v-on:click="showGuGu()">구구단 보이기</button>

        <ul v-if="show">
            <li v-for="item in number_list">
                <p v-for="item2 in 9">{{item}}x{{item2}}={{item * item2}}</p>
            </li>
        </ul>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            number_list: [2,3,4,5,6,7,8,9],
            show:false
        },
        
        methods: {
            sortData: function () {
                this.number_list = this.number_list.filter (function (item, next, array) {
                    return array.indexOf(item) === next;
                });

                this.number_list.sort(function(a,b) {
                    return (a < b ? -1 : 1);
                });
            },
            addNumber: function() {
              this.number_list.push(1);
            },
    
            modify: function(index) {
                var modify=this.number_list[index]+100;
            
                while(true){
                    if(this.number_list.indexOf(modify)==1) 
                    break;
                    else modify++;
                }
                this.number_list.splic(index,1,modify);

                //this.number_list.splice(index, 1, this.number_list[index] + 1);
            },
            delete: function(index) {
                this.number_list.splice(index, 1);
            },
            showGuGu: function() {
                this.show = true;
            }

        }
    })
</script>
</body>
</html>